# pull packages with @user1st scope from User1st registry
@u1:registry=https://registry.user1st.com/
//registry.user1st.com/:_authToken=<ADD_YOUR_TOKEN>
# pull all other packages from official NPM registry
